* {
  margin: 0;
  padding: 0;
}

html {
  font-family: oswald;
  font-size: 10px;
}

.team {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #ccc;
  position: relative;
}

.team img.color {
  position: absolute;
  bottom: -40%;
  right: -15%;
  height: 90%;
  z-index: 1;
}

.team img.gray {
  position: absolute;
  bottom: -15%;
  left: -50%;
  height: 110%;
  opacity: 0.2;
}

.team .member {
  position: absolute;
  top: 10%;
  left: 0;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.team h1 {
  font-size: 4rem;
}

.team h2 {
  font-size: 2.2rem;
}

.dots {
  position: absolute;
  bottom: 93%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.dots span {
  display: inline-block;
  background-color: #000;
  margin: 0 15px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px white;
}

.dots span.active {
  box-shadow: 0 0 0 5px white, 0 0 3px 10px red;
}

.run-animation-color {
  animation: color 4s linear infinite;
}
.run-animation-gray {
  animation: gray 4s linear infinite;
}
.run-animation-text {
  animation: text 4s linear infinite;
}

@media (orientation: landscape) {
  .team img.color {
    bottom: -35%;
    right: 3%;
    height: 90%;
  }

  .team img.gray {
    bottom: -30%;
    left: -5%;
    height: 130%;
  }

  .team .member {
    width: 60%;
    right: 0;
    left: auto;
  }
}
@media (min-width: 600px) {
  .dots {
    bottom: 30px;
    left: 50%;
  }
  .dots span {
    width: 10px;
    height: 10px;
    margin: 0 20px;
  }
}

@media (min-width: 1025px) {
  .team h1 {
    font-size: 8rem;
  }

  .team h2 {
    font-size: 5rem;
  }
}

@keyframes color {
  0% {
    transform: translateX(0);
    opacity: 0;
  }

  8% {
    opacity: 0;
  }

  13% {
    opacity: 1;
  }

  87% {
    opacity: 1;
  }

  92% {
    opacity: 0;
  }

  100% {
    transform: translateX(-5%);
    opacity: 0;
  }
}

@keyframes gray {
  0% {
    transform: translateX(0) scale(1);
    opacity: 0;
  }

  8% {
    opacity: 0;
  }

  13% {
    opacity: 0.2;
  }

  87% {
    opacity: 0.2;
  }

  92% {
    opacity: 0;
  }

  100% {
    transform: translateX(5%) scale(1.1);
    opacity: 0;
  }
}

@keyframes text {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  8% {
    opacity: 0;
  }

  13% {
    opacity: 1;
  }

  87% {
    opacity: 1;
  }

  92% {
    opacity: 0;
  }

  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}
